/* NAVBAR */
nav{
    background: transparent;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.disposition{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #C69963;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 10px 40px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 40px;
}

.list-item{
    list-style: none;
    margin: 0 5px;
}

.a-link{
    color: #C69963;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.a-link.link-color{
    color: #C69963;
}

.a-link:hover{
    background: rgb(12, 18, 50);
}

/* hamburger da mobile */
.checkbtn{
    font-size: 30px;
    color: #C69963;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* navbar da telefono ed ipad */
@media (max-width: 858px){

    nav{
        height: 80px;
        background-color: transparent;
        z-index: 999;
    }

    .disposition{
        display: inline;
    }

    .logo{
        font-size: 20px;
        letter-spacing: 5px;
        margin: 26px 20px;
        color: #C69963;
    }

    .list{
        margin: 0px;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .list-item{
        display: flex;
        list-style: none;
    }
    .a-link{
        color: #C69963;
        font-size: 20px;
        margin: 30px ;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .a-link:hover,.a-link.active{
        background: none;
    }

    .checkbtn{
      display: block;
    }
    
    #check:checked ~ ul{
      left: 0;
    }

}

/* cambio colore nav con JS solo su desktop */
nav.scrolled{
    background-color: white;
    box-shadow: 1px 2px 10px rgba(12, 18, 50);
    color: #000;
    z-index: 999;
    transition: .3s;
}
/* FINE NAVBAR */


/* SECTION ONE */
.container1{
    background-image: linear-gradient(to bottom,  rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845)), url('media/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}

.titolo-gold{
    color: #C69963;
}

/* bottone section one */
.btn-57,
.btn-57 *,
.btn-57 :after,
.btn-57 :before,
.btn-57:after,
.btn-57:before {
    border: 0 solid;
    box-sizing: border-box;
}
.btn-57 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}
.btn-57:disabled {
    cursor: default;
}
.btn-57:-moz-focusring {
    outline: auto;
}
.btn-57 svg {
    display: block;
}
.btn-57 [hidden] {
    display: none;
}
.btn-57 {
    background: none;
    border: 3px solid;
    border-radius: 999px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: 20px 60px;
    position: relative;
    text-transform: uppercase;
}
.btn-57:before {
    background: #C69963;
    border-radius: 999px;
    content: "";
    inset: 0;
    position: absolute;
    transform: translate(10px, 10px);
    transition: transform 0.2s;
    z-index: -1;
}
.btn-57:hover:before {
    transform: translate(0);
}  

/* FINE SECTION ONE */

h2{
    color: black;
}

h3, h5 {
    color: #C69963;
}

/* SECTION THREE */

.h2-section3{
    font-size: 70px;
    color: white;
    margin-top: 40px;
}

.tag3{
    padding: 0 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.features{
    background-color: #C69963;
    color: rgba(12, 18, 50);
}

.product{
    width: auto;
    height: fit-content;
    background-color: #FFFAF6;
}

/* SECTION FOUR */

.container-4-1 h2{
    font-size: 70px;
    margin: 40px 0 40px 0;
}

.cerchio{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #C69963;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* SECTION FIVE */
.row-section5{
    height: 75vh;
}

.tag{
    padding: 0 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.hashtag{
    background-color: rgb(12, 18, 50);
    color: white;
}


/* VISUALIZZAZIONE DA DESKTOP */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 200px;
    }

    .cake-custom{
        width: 450px;
        height: 450px;
    }
    .row2{
        height: 80vh;
    }

    .div-border{
        border-left: 10px solid #C69963;
    }

    .margine-desktop{
        margin-left: 50px;
    }

    .h2-section2{
        font-size: 90px;
    } 
    .card-img2{
        width: 400px;
        height: 420px;
        border-radius: 100px 20px 20px 20px;
        padding: 5%;
        margin: 5%;
        background: linear-gradient(rgba(12, 18, 50), white);
    }

    .img-cornetto2{
        position: relative;
        top: 30%;
        right: 27%;
        width: 490px;
        height: 350px;
    }

    .premium-custom{
        width: 200px;
    }

    /* section 3 */
    .card-section3{
        align-items: center;
        max-width: fit-content;
        height: fit-content;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin: 0 30px;
    }

    .div-temptations{
        max-width: fit-content;
        height: fit-content;
    }

    /* section 4 */
    .card-section4{
        width: 350px;
        height: 200px;
        padding: 5%;
        margin: 30px 25px;
        background-color: rgba(12, 18, 50);
        color: white;
    }

    .central-card-4{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-img-4{
        width: 400px;
        height: 420px;
        border-radius: 0px 100px 0px 0px;
        padding: 5%;
        margin: 5%;
        background: linear-gradient(rgba(12, 18, 50), white);
    }

    .img-cornetto{
        position: relative;
        top: 40%;
        right: 35%;
        width: 600px;
        height: 300px;
    }

    /* section 5 */

    .container-5-1 h2{
        font-size: 70px;
    }

    .card-section5{
        width: 350px;
        height: 440px;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin: 0 30px;
    }

    .titolo{
        margin-top: 30px;
    }

    .descrizione{
        margin-top: 30px;
    }

    .card-container{
        margin-top: 30px;
    }
    

    /* FOOTER */
    .container-footer{
        background-color: rgba(12, 18, 50);
        color: #ffffff;
        height: 20vh;
    }

    .footer-division{
        border-bottom: 1px solid white;
        display: flex;
        justify-content: start;
    }

    .footer-division a {
        text-decoration: none;
        color: white;
        margin-right: 100px;

    }

    .icon-footer{
        display: flex;
        justify-content: space-evenly;
    }

    .rights-footer{
        display: flex;
        align-items: center;
    }

    .designed-footer {
        margin: 0;
        padding-top: 25px;
    }

}

/* VISUALIZZAZIONE DA TELEFONO */
@media screen and (max-width: 767px) {
    /* section 1 */
    .container1{
        background-image: linear-gradient(to bottom,  rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845)), url('media/introMobile.jpg');
        background-position-x: center;
    }
    
    h1 {
        font-size: 80px;
    }

    .btn-57 {
        padding: 10px 40px;
    }

    /* section 2 */
    .margine-desktop{
        overflow-x: hidden;
    }
    .h2-section2{
        font-size: 50px;
        text-align: center;
        margin: 25px 0px;
    }

    .div-border{
        border-left: 10px solid #C69963;
    }

    .div-custom2{
        max-width: 280px;
    }

    .card-wrapper{
        width: 300px;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .img-cornetto2{
        display: none;
    }

    .premium-custom{
        width: 200px;
    }


    .btn-mobile{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }

    /* section 3 */
    .card-section3{
        align-items: center;
        max-width: fit-content;
        height: fit-content;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin: 0 30px;
    }

    .div-temptations{
        max-width: fit-content;
        height: fit-content;
    }

    .h2-section3{
        font-size: 28px;
        margin: 20px 0px 20px 0px;
    }

    /* section 4 */
    .disposition-card-4{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .card-section4{
        width: 350px;
        height: fit-content;
        padding: 5%;
        margin: 0px;
        color: rgb(12, 18, 50);
        flex-wrap: wrap;
    }

    .card-colonna{
        justify-content: end;
    }
    
    .cerchio{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #C69963;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .cerchio i{
        font-size: 20px !important;
    }
   
    .central-card-4{
        display: none;
    }

    .cornetto{
        max-width: 100%;
        height: auto;
    }

    .img-cornetto{
        display: none;
    }

    .container-4-1{
        background-color: rgb(12, 18, 50);
    }

    .container-4-1 h2{
        font-size: 28px;
        color: white;
        margin: 15px 0;
    }
    
    .container-3-1 h2 {
        font-size: 28px;
    }

    /* section 5 */
    .container-5-1 h2{
        font-size: 28px;
    }

    .card-section5{
        width: 300px;
        height: 400px;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin-bottom: 15px;
        padding: 0;
    }

    .descrizione-5 p{
        display: none;
    }


    /* FOOTER */
    .container-footer{
        background-color: rgb(12, 18, 50);
        color: #ffffff;
        height: 29vh;
    }

    .footer-division{
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-division a {
        text-decoration: none;
        color: white;
        margin: 5px 0px;
    }

    .rights-footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .designed-footer {
        margin: 0;
        padding-top: 17px;
    }

}

/* PROVA */
.container-3-1{
    background-color: rgba(12, 18, 50);
    margin-top: 30px;
}
.container-3-2{
    background-color: rgba(12, 18, 50);
}

@media screen and (min-width: 1024px) {
    .container-3-2{
        height: 80vh;
        background-color: rgba(12, 18, 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card-product{
    max-width: 250px;
    height: 250px;
}

.card-recipe{
    max-width: 320px;
    height: fit-content;
    margin: 10px 0;
}

.div-description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.up{
    z-index: 99;
}

.point-left, .point-right {
    position: relative;
    background-color: #fff;
    display: flex;
}

.point-left::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: inherit;
    /* top: -12px; */
    bottom: 120px;
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 1;
}

.point-right::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: inherit;
    /* top: -12px; */
    bottom: 120px;
    left: 100%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 1;
}

@media screen and (max-width: 768px) {
    
    .point-left::before, .point-right::before {
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
        background-color: inherit;
        top: -12px;
        /* bottom: 120px; */
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        z-index: 1;
    }

    /* ORDINE CARD E LABEL */
    .ordine1{
        order: 2;
    }
    .ordine2{
        order: 1;
    }
    .ordine3{
        order: 4;
    }
    .ordine4{
        order: 3;
    }
    .ordine5{
        order: 6;
    }
    .ordine6{
        order: 5;
    }
}


.container-photo{
    background-image: linear-gradient(to bottom,  rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845)), url('media/mohamed-hassouna-N4gtuEZ5gWc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 768px) {
    .container-photo{
        background-image: linear-gradient(to bottom,  rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845), rgba(12, 18, 50, 0.845)), url('media/louise-lyshoj-WHJTaLqonkU-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-attachment: fixed;
    }
}

.container-contacts{
    height: 40vh;
    background-color: rgb(12, 18, 50);
    align-items: center;
    color: white;
}

.container-contacts i{
    color: #C69963;
}

@media screen and (max-width: 767px) {
    .container-contacts{
        height: 60vh;
        background-color: rgb(12, 18, 50);
    }

}

.disposizione-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .disposizione-info{
        padding-top: 20px;
    } 
}