/* COLORE SCRITTE */
/* color: #F86D68 */
/* color: #5A4047 */
/* color: #CC7095 */



/* NAVBAR */
nav{
    background: transparent;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.disposition{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: white;
    font-size: 40px;
    letter-spacing: 5px;
    margin: 15px 50px;
}

.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 40px;
}

.list-item{
    list-style: none;
    margin: 0 5px;
}

.a-link{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

.a-link.link-color{
    color: white;
}

.a-link:hover{
    background: #CC7095;
}

/* hamburger da mobile */
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/* navbar da telefono ed ipad */
@media (max-width: 858px){

    nav{
        height: 80px;
        background-color: #CC7095;
        box-shadow: 1px 1px 10px grey;
        z-index: 999;
    }

    .disposition{
        display: inline;
    }

    .logo{
        font-size: 25px;
        letter-spacing: 5px;
        margin: 22px 20px;
        color: white;
    }

    .list{
        margin: 0px;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .list-item{
        display: flex;
        list-style: none;
    }
    .a-link{
        color: #CC7095;
        font-size: 20px;
        margin: 30px ;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .a-link:hover,.a-link.active{
        background: none;
        color: #CC7095;
    }

    .checkbtn{
      display: block;
    }
    
    #check:checked ~ ul{
      left: 0;
    }

}

/* cambio colore nav con JS solo su desktop */
nav.scrolled{
    background: #CC7095;
    box-shadow: 1px 1px 10px grey;
    z-index: 999;
}

/* FINE NAVBAR */


/* SECTION ONE */
.container1{
    background-image: linear-gradient(to bottom,  rgba(245, 246, 252, 0.138), rgba(204, 112, 149, 0.683), rgba(245, 246, 252, 0.138)), url('media/intro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  .text-cutout {
    background: white;
    color: black;
    font-size: 6vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 100%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}

/* .titolo1{
    font-size: 70px;
} */

.titolo-red{
    color: #F86D68;
}

.card-donut{
    background: linear-gradient(#63EADB, white, #63EADB);
    width: 500px;
    height: 500px;
    border-radius: 500px 170px 500px 170px;
}

/* bottone section one */
.btn-57,
.btn-57 *,
.btn-57 :after,
.btn-57 :before,
.btn-57:after,
.btn-57:before {
    border: 0 solid;
    box-sizing: border-box;
}
.btn-57 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}
.btn-57:disabled {
    cursor: default;
}
.btn-57:-moz-focusring {
    outline: auto;
}
.btn-57 svg {
    display: block;
}
.btn-57 [hidden] {
    display: none;
}
.btn-57 {
    background: none;
    border: 3px solid;
    border-radius: 999px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    padding: 20px 60px;
    position: relative;
    text-transform: uppercase;
}
.btn-57:before {
    background: #FEE0AC;
    border-radius: 999px;
    content: "";
    inset: 0;
    position: absolute;
    transform: translate(10px, 10px);
    transition: transform 0.2s;
    z-index: -1;
}
.btn-57:hover:before {
    transform: translate(0);
}  

/* FINE SECTION ONE */

h2{
    color: black;
}

h3, h5 {
    color: #5A4047;
}

/* SECTION THREE */

.h2-section3{
    font-size: 70px;
}

.tag3{
    padding: 0 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.features3{
    background-color: #F9DEE9;
    color: black;
}

.product{
    width: auto;
    height: fit-content;
    background-color: #FFFAF6;
}

/* SECTION FOUR */
.first-container-4{
    height: 10vh;
    background-color: #F9DEE9;
}

.first-container-4 h2{
    font-size: 70px;
}

.second-container-4{
    height: 80vh;
    color: white;
    background-color: #F9DEE9;
}

.cerchio{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #5A4047;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



/* SECTION FIVE */
.row-section5{
    height: 75vh;
}

.tag{
    padding: 0 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.features{
    background-color: #FFFAF6;
    color: black;
}

.hashtag{
    background-color: #CC7095;
    color: white;
}

.hashtag1{
    background-color: #63EADB;
    color: white;
}

.hashtag2{
    background-color: #FD646C;
    color: white;
}


/* FOOTER */
.footer-color{
    background-color: #CC7095;
    color: white;
}

.logo-footer{
    width: 100px;
    height: 100px;
}

.row-footer{
    height: 25vh;
}

.email{
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #8EF9EC;
    padding: 10px;
}

.subscribe{
    width: auto;
    height: 35px;
    background-color: #FEE0AC;
    border-radius: 5px;
}

.line{
    border-top: 1px solid #5A4047;
    padding: 15px 0px;
}

.footer-icon{
    color: #5A4047;
}

/* VISUALIZZAZIONE DA DESKTOP */
@media screen and (min-width: 768px) {

    .cake-custom{
        width: 450px;
        height: 450px;
    }
    .row2{
        height: 80vh;
    }

    .div-border{
        border-left: 10px solid #CC7095;
    }

    .margine-desktop{
        margin-left: 50px;
    }

    .h2-section2{
        font-size: 70px;
    } 
    .card-img2{
        width: 400px;
        height: 420px;
        border-radius: 100px 20px 20px 20px;
        padding: 5%;
        margin: 5%;
        background: linear-gradient(#F9DEE9, white);
    }

    .img-cornetto2{
        position: relative;
        top: 30%;
        right: 27%;
        width: 490px;
        height: 350px;
    }

    .premium-custom{
        width: 200px;
    }

    /* section 3 */
    .card-section3{
        align-items: center;
        max-width: fit-content;
        height: fit-content;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin: 0 30px;
    }

    .div-temptations{
        max-width: fit-content;
        height: fit-content;
    }

    /* section 4 */
    .card-section4{
        width: 350px;
        height: 200px;
        border-radius: 20px;
        padding: 5%;
        margin: 2%;
        background-color: #FFEFF4;
        color: black;
    }

    .card-img{
        width: 400px;
        height: 420px;
        border-radius: 20px 100px 20px 20px;
        padding: 5%;
        margin: 5%;
        background: linear-gradient(white, #F9DEE9);
    }
    .img-cornetto{
        position: relative;
        top: 30%;
        right: 30%;
        width: 570px;
        height: 270px;
    }

    /* section 5 */
    .card-section5{
        width: 350px;
        height: 440px;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin: 0 30px;
    }

    .titolo{
        margin-top: 30px;
    }
    .descrizione{
        margin-top: 30px;
    }

    .card-container{
        margin-top: 30px;
    }
    
}

/* VISUALIZZAZIONE DA TELEFONO */
@media screen and (max-width: 767px) {

    /* section 1 */
    .titolo1{
        font-size: 30px;
    }

    .btn-57 {
        padding: 10px 40px;
    }

    /* section 2 */

    .row2{
        height: 60vh;
    }

    .h2-section2{
        font-size: 40px;
    }

    .div-border{
        border-left: 10px solid #CC7095;
    }

    .div-custom2{
        max-width: 280px;
    }

    .card-wrapper{
        width: 300px;
        height: fit-content;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .img-cornetto2{
        width: 100%;
        height: auto;
    }

    .premium-custom{
        width: 200px;
    }

    /* section 3 */
    .card-section3{
        align-items: center;
        max-width: fit-content;
        height: fit-content;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin: 0 30px;
    }

    .div-temptations{
        max-width: fit-content;
        height: fit-content;
    }

    /* section 4 */
    .card-section4{
        width: 150px;
        height: fit-content;
        border-radius: 20px;
        padding: 5%;
        margin: 2%;
        background-color: #FFEFF4;
        color: black;
        flex-wrap: wrap;
    }

    .card-colonna{
        justify-content: end;
    }
    
    .cerchio{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #5A4047;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    i{
        font-size: 20px !important;
    }
   
    .card-cornetto{
        display: none;
    }
    .cornetto{
        max-width: 100%;
        height: auto;
    }

    .img-cornetto{
        display: none;
    }

    .first-container-4{
        height: 10vh;
        background-color: #F9DEE9;
    }
    
    .first-container-3 h2, .first-container-4 h2{
        font-size: 28px;
    }
    
    .second-container-4{
        height: 70vh;
        color: white;
        background-color: #F9DEE9;
    }

    /* section 5 */
    
    .titolo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .card-section5{
        width: 300px;
        height: 400px;
        border-radius: 20px;
        background-color: #FFFAF6;
        margin-bottom: 15px;
        padding: 0;
    }

    .descrizione p{
        display: none;
    }
    

    .row-footer{
        height: 40vh;
    }
}